{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'main-product.js' | asset_url | script_tag }}

<section class="product" id="product-section">
  <div class="product__wrapper">

    <div class="product__gallery">
      <img
        id="product-image"
        src="{{ product.featured_image | image_url: width: 900 }}"
        alt="{{ product.title }}"
      >

      {% if product.images.size > 1 %}
        <div class="product__thumbs">
          {% for image in product.images %}
            <img
              src="{{ image | image_url: width: 120 }}"
              data-image="{{ image | image_url: width: 900 }}"
              class="thumb"
            >
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="product__info">

      <h1>{{ product.title }}</h1>

      <div id="price">
        {{ product.selected_or_first_available_variant.price | money }}
      </div>

      <div class="product__description">
        {{ product.description }}
      </div>

      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="variant-group">
            <p>{{ option.name }}</p>
            <div class="variant-options">
              {% for value in option.values %}
                <button
                  class="opt"
                  data-key="option{{ option.position }}"
                  data-val="{{ value }}"
                >
                  {{ value }}
                </button>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endunless %}

      <button id="add" disabled>Adicionar ao carrinho</button>

      <script type="application/json" id="variants">
        {{ product.variants | json }}
      </script>

      <script type="application/json" id="variant-images">
        {
            {% for v in product.variants %}
            "{{ v.id }}": "{% if v.featured_image %}{{ v.featured_image | image_url: width: 900 }}{% else %}{{ product.featured_image | image_url: width: 900 }}{% endif %}"{% unless forloop.last %},{% endunless %}
            {% endfor %}
        }
      </script>

    </div>
  </div>
</section>
